{{define "content"}}
<div class="container">
    <form method="post" class="col-lg-4">
        <input type="hidden" id="path" name="path">
        <div id="error">
        </div>
        <div class="form-group">
            <label for="name">name</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="name" value="" required>
        </div>
        <button type="submit" class="btn btn-primary">save</button>
        <!-- <button  type="button" id="delete" class="btn btn-danger">remove</button> -->
    </form>
</div>
{{end}}
{{define "scripts"}}
<script>
    app.ajaxSubmit($("form:last"), {
        before: function () {
            var queryString = window.location.search
            var urlParams = new URLSearchParams(queryString)
            var path = urlParams.get("path")
            if (path == "/") {
                $("#path").val("/" + $("#name").val())
            } else {
                $("#path").val(urlParams.get("path") + "/" + $("#name").val())
            }
            app.closeError($('#error'))
        },
        success: function (res) {
            if (res.error) {
                app.showError($('#error'), res.error)
            } else {
                window.location.href = res.data
            }
        }
    })
</script>
{{end}}