{{define "content"}}
<div class="container">
    <table class="table">
        <tr>
            <th>path</th>
            <th>source</th>
            <th>file type</th>
            <th>action</th>
        </tr>
        {{range .Changes}}
        <tr>
            <td><a style="color: blue;" href="{{redirectUrl .Id}}">{{.Path}}</a></td>
            <td>
                {{if .Source_Path}}
                <a style="color: blue;" href="{{redirectUrl .SourceId}}">{{.Source_Path}}</a>
                {{end}}
            </td>
            <td>{{if eq .FileType 1}}
                file
                {{else if eq .FileType 2}}folder
                {{else}}unknown
                {{end}}
            </td>
            <td>
                {{if eq .ChangeType 1}}
                add
                {{else if eq .ChangeType 2}}
                delete
                {{else if eq .ChangeType 3}}
                move
                {{else if eq .ChangeType 4}}
                rename
                {{else if eq .ChangeType 5}}
                copy
                {{else if eq .ChangeType 6}}
                modified
                {{end}}
            </td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}
{{define "scripts"}}
<script>

</script>
{{end}}