{{define "content"}}
<div class="container">
   <div>
       <span>file name:</span>  <span>{{.ServerFile.Name}}</span>
   </div>
   <div>
       <span>file size:</span>  <span>{{.ServerFile.Size}} bytes</span>
   </div>
   <div>
       <span>upload time:</span>  <span>{{formatTime .File.InsertTime ""}}</span>
   </div>
   <div>
       <span>user:</span>  <span>{{.File.UserName}}</span>
   </div>
   <div>
       <span>description:</span>  <span>{{.File.Description}}</span>
   </div>
   <div>
       <span>revision:</span>  <span>{{.File.Start}}</span>
   </div>
    <a id="download" href="{{.DownloadUrl}}" class="text-primary">download</a>
    {{if .CanDelete}}   
    <a id="delete" href="#" class="text-primary">delete</a>
    {{end}}
</div>
{{end}}
{{define "scripts"}}
<script>
    // function downloadFile(url){
    // $.getJSON(url,function(d){
    // alert(d.data)
    // })
    // }
    // $("#download").on("click",function(){
    //     downloadFile('{{downloadUrl}}')
    // })
    var delete_url="{{.DeleteUrl}}"
    $("#delete").on("click",function(){
        if(confirm("are you sure to delete this file?")){
            $.ajax({
            url: delete_url,
            type: 'DELETE',
            success: function(result) {
                if(result.error==null){
                    document.location.href="/file/list"
                }else{
                    alert(result.error)
                }
             }
        })
        }
    })
</script>
{{end}}