{{define "content"}}
<div class="container">
    <h4>{{.Path}}</h4>
        <table class="table">
                <tr>
                <th>revision</th>    
                <th>uploaded time</th>    
                <th>size</th>    
                <th>user</th>    
                </tr>
                {{range .Histories}}
                {{$time:=index . "commit_insert_time"}}
                <tr >
                   <td><a style="color:blue" href="{{detailUrl .}}">{{index . "commit_id"}}</a></td>
                   <td>{{formatTimeString $time ""}}</td>
                   <td>
                    {{if .size}}
                    {{.size}} bytes
                    {{end}}
                    </td>
                   <td>{{.user_name}}</td>
                </tr>
                {{end}}
            </table>
</div>
{{end}}
{{define "scripts"}}
<script>
    
    </script>
{{end}}