{{define "content"}}
<div class="container">
    <div class="mb-3">
        <a  class="btn btn-primary"href="{{.Path_File_Edit}}?path={{.File_Path}}">create folder</a>
        <a  class="btn btn-primary directory-move">move</a>
    </div>
    <table class="table">
        <tr>
                <th><input type="checkbox"></th> <th>name</th> <th>description</th> <th>type</th> <th>size</th>  <th>time</th> <th>user</th><th>#</th>
        </tr>
        {{range .Files}}
        <tr id={{.Id}} file_type={{.Type}} name="{{.Name}}">
            <td><input type="checkbox"></td>
            <td><a style="color:blue" href="{{detailUrl .}}">{{.Name}}</a></td><td>{{.Description}}</td>
            <td>{{if eq .Type 1}}
                file
                {{else}}folder
                {{end}}
                {{if .Size}}
                <td>{{.Size}}</td>
                {{else}}
                <td></td>
                {{end}}
            <td>{{formatTime .InsertTime ""}}</td><td>{{.UserName}}</td>
            <td>
                {{if eq .Type 1}}
                {{else}}<button class="btn btn-danger directory-remove">remove</button>
                {{end}}
            </td>
        </tr>
        {{end}}
    </table>
</div>
{{end}}
{{define "scripts"}}
<script>
    var delete_directory_url="{{.DirectoryUrlPath}}"
    $(".directory-remove").on("click",function(){
        if(confirm("are you sure to delete this directory?")){
            let id=$(this).parents("tr").attr("id")
            var parameters={
                id:id
            }
            debugger
            $.ajax({
            url: delete_directory_url+"?"+$.param(parameters),
            type: 'DELETE',
            success: function(result) {
                if(result.error==null){
                    document.location.reload(true)
                }else{
                    alert(result.error)
                }
             }
        })
        }
    })
    var file_move_path="{{.Path_File_Move}}"
    $(".directory-move").on("click",function(){
        var checked_boxes=document.querySelectorAll('input[type=checkbox]:checked')
        $.each(checked_boxes,function(){
            var directory="{{.File_Path}}"
            var name=$(this).parents("tr").attr("name")
            var file_type=$(this).parents("tr").attr("file_type")
            var id=$(this).parents("tr").attr("id")
            var parameters={
                directory:directory,
                name:name,
                file_type:file_type,
                id:id
            }
            var url=file_move_path+"?"+$.param(parameters)
            document.location.href=url
            return//just return,does not care other if any.
        })
    })
</script>
{{end}}