{{define "content"}}
<div class="container">
        <table class="table">
                <tr>
                <th>revision</th>    
                <th>uploaded time</th>    
                </tr>
                {{range .Commits}}
                {{$time:=index . "insert_time"}}
                <tr >
                   <td><a style="color:blue" href="{{detailUrl .}}">{{index . "id"}}</a></td>
                   <td>{{formatTimeString $time ""}}</td>
                </tr>
                {{end}}
            </table>
</div>
{{end}}
{{define "scripts"}}
<script>
    
    </script>
{{end}}