{{define "content"}}
<div class="container">
    <table class="table">
        <tr>
            <th>name</th> <th>description</th>  <th>size</th>  <th>time</th> <th>complete</th><th>user</th>
        </tr>
        {{range .Files}}
        <tr>
            <th><a style="color:blue" href="{{detailUrl .Id}}">{{.Name}}</a></th> <th>{{.Description}}</th><th>{{.Size}}</th><th>{{formatTime .InsertTime ""}}</th><th>{{.Completed}}</th><th>{{.UserName}}</th>
        </tr>
        {{end}}
    </table>
</div>
{{end}}