{{define "content"}}
<div class="container">
    <div class="text-center">
        <span class="font-weight-bold">{{.ServerFile.Name}}</span>
    </div>
    <div>
        <span>file size:</span>  <span>{{.ServerFile.Size}} bytes</span>
    </div>
    <div>
            {{$insert_time:=index .History "insert_time"}}
        <span>modified:</span>  <span>{{formatTimeString $insert_time ""}}</span>
    </div>
    <div>
        <span>user:</span>  <span>{{.File.UserName}}</span>
    </div>
    <div>
        <span>description:</span>  <span>{{.File.Description}}</span>
    </div>
    <div>
            {{$commit_id:=index .History "commit_id"}}
        <span>revision:</span>  <span>{{$commit_id}}</span>
    </div>
    <div class="my-3">
        <a class="btn btn-primary" href="{{.DownloadUrl}}">download</a>
    </div>
    <img src="{{.QRCodeUrl}}">
    <p>scan qr code to download via mobile phone</p>
</div>
{{end}}
{{define "scripts"}}
<script>
    
</script>
{{end}}